.featured {
  height: 100vh;
}
.featured-vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured-horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
}
.featured-name {
  font-size: 3.75em;
  font-weight: 700;
}
.featured-infos {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 15px;
}
.featured-points {
  display: inline-block;
  color: #46d369;
}
