.movieRow {
  margin-bottom: 30px;
}
.movieRow h2 {
  margin: 0 0 0 30px;
}
/*Area Lista*/
.movieRow-listArea {
  overflow-x: hidden;
  padding-left: 30px;
}
.movieRow-list {
}
.movieRow-item {
  display: inline-block;
  width: 150px;
}
.movieRow-item img {
  width: 100%;
  transform: scale(0.9);
}
.movieRow-item img:hover {
  transform: scale(1);
  transition: 0.4s;
}
